/* Custom container */
body {
  text-align: justify;
  hyphens: auto;
  line-height: 1.8;
}

.container-narrow {
  margin: 0 auto;
  max-width: 640px; }

.container-narrow > hr {
  margin: 30px 0; }

/* Header */
h2 {
  font-size:3em;
  font-weight: lighter;
}

h4 {
  margin-top: 20px;
}

h4:first-child {
  margin-top: 0px;
}

/* Links */
a {
  color: #0f0f7a;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a::after
{
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("../../../svg/arrow-up-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 20px; /* Adjust spacing between links */
  align-items: flex-start; /* Align items at the top */
  text-align: left;
  flex-wrap: wrap; /* Wrap items if they overflow */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}

.page-footer{
  padding-bottom:9px;
  margin:10px 0 30px;
  border-bottom:1px solid #eeeeee;
}